<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>
<body>
     <!-- Step 3: Reset Password -->
     <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="flash-message position-absolute top-0 start-50 translate-middle-x">
            <% if (flashMessages && (flashMessages.error || flashMessages.success)) { %>
                <% if (flashMessages.error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= flashMessages.error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %> 
                <% if (flashMessages.success) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= flashMessages.success %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %> 
            <% } %> 
        </div>
    
        <div id="step-3" class="card p-4 shadow" style="min-width: 400px;">
            <h4 class="text-center mb-4">Reset Password</h4>
            <form action="/auth/change-password" method="post">
                <div class="mb-3">
                    <label for="newPasword" class="form-label">Enter new password:</label>
                    <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        name="password"
                        placeholder="New Password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="condirmPasword" class="form-label">Confirm new password:</label>
                    <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        name="confirm_password"
                        placeholder="Confirm Password"
                        required
                    />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>