<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In - Roko</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body {
        background-color: #f8f9fa;
        font-family: "Roboto", sans-serif;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .sign-in-box {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        width: 350px;
        text-align: center;
      }
      .icon {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }
      .toggle-password {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="sign-in-box">
        <h2 class="mb-4">Sign In to Roko</h2>

        <div class="flash-message mt-3">
            <% if (flashMessages && (flashMessages.error || flashMessages.success)) { %>
              <% if (flashMessages.error) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%= flashMessages.error %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
              <% if (flashMessages.success) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= flashMessages.success %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
            <% } %>
          </div>
          
        <form method="post" action="/auth/signin">
          <div class="mb-3 text-start">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
              aria-describedby="emailHelp"
              required
            />
          </div>
          <div class="mb-3 text-start">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Enter your password"
                required
              />
              <span class="input-group-text toggle-password">
                <i class="icon far fa-eye"></i>
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-3">
            Sign In
          </button>
          <div>New user? <a href="/signup" style="text-decoration: none;">Sign up</a></div>
        </form>
        <div class="text-center mt-3"><a href="/auth/forgot_password" class="text-dark">Forgot password?</a></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const passwordInput = document.getElementById("password");
      const togglePassword = document.querySelector(".toggle-password");

      togglePassword.addEventListener("click", () => {
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      });
    </script>
  </body>
</html>
